{% extends "base.html" %}

{% block content %}
<div class="container bg-light text-dark text-center mt-5">
    <h1 class="mb-4">About TripAdvisor Explorer</h1>
    <p class="lead text-dark">Discover the best places in Washington State</p>
    <div class="row mb-5">

        <div class="container text-dark text-center mt-5">
            <h2><i class="bi bi-compass"></i> Our Mission</h2>
            <p class="lead text-dark mb-2 mt-4">
                We help travelers find the best restaurants, hotels, and attractions in Washington State's top cities.
            </p>
            <p>
                Our platform aggregates authentic TripAdvisor data to provide you with reliable recommendations and visual previews of each location.
            </p>
        </div>
        <div class="body">
            <p class="lead">Created by</p>
            <p class="text-primary text-dark">Dereje Teshager</p>
        </div>
    </div>
    <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg align-center">
        Go Back Home
    </a>
</div>

<!-- Mission Section -->

{% endblock %}

